<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.a.przepisowo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".TwojePrzepisyActivity" />
        <activity android:name=".UpdateEmailActivity" />
        <activity android:name=".UpdatePasswordActivity" />
        <activity android:name=".EdytujPrzepisActivity" />
        <activity android:name=".EdytujSkladnikActivity" />
        <activity android:name=".DodajPrzepis" />
        <activity android:name=".EdytujStepActivity" />
        <activity android:name=".DodajSkladnikActivity" />
        <activity android:name=".DodajStepActivity" />
        <activity android:name=".EdytujInfoActivity" />
        <activity android:name=".WyswietlPrzepisActivity" />
        <activity android:name=".EdytujKategorieActivity"></activity>
    </application>

</manifest>